<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">


        {{a}} 
        <br>

        <br>
        <br>

        <button @click="change()">เปลี่ยนไฟ</button>


    </div>










    <script>
        var app = new Vue({
            //element
            el: "#app",
            data: {

                boxs: [{ id: 0, color: 'green' }, { id: 1, color: 'yellow' }, { id: 2, color: 'red' }],
                id: 0,
                a: 'green'




            },
            methods: {
                change: function () {
                    if (this.id <=1) {
                        this.id = this.id + 1
                        this.a = this.boxs[this.id].color
                    }else{
                        this.id = this.id-2
                        this.a = this.boxs[this.id].color

                    }

                },



            },






            computed: {



            }

        });
    </script>

</body>

</html>